<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <app-admin-sidebar> </app-admin-sidebar>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home-categories']">All Categories <span class="sr-only">(current)</span></a>
          </li>

        <li class="nav-item dropdown" *ngFor="let cat of categories"  >
          <a class="nav-link dropdown-toggle"  id="cat.id" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{  cat.name}}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <div  *ngFor="let subcat of subcategories">
            <a class="dropdown-item" *ngIf="cat.id == subcat.catid"  (click)="SubCategorySelected(subcat.id)" >{{ subcat.name }}</a>
          </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
