<div fxLayout fxLayoutAlign="center center">
<mat-form-field fxFlex="40%">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
</div>

<span class="badge badge-pill badge-primary">View All Categories</span>
<br>
<span>
    <button type="button" [routerLink] = "['/category-new']" class="btn btn-outline-success my-button">Create New Category</button>

</span>

     <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >



        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> name </th>
          <td mat-cell *matCellDef= "let cat  "> {{cat.name}} </td>
        </ng-container>


        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> desc </th>
          <td mat-cell *matCellDef="let cat"> {{cat.desc}} </td>
        </ng-container>


        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> image </th>
          <td mat-cell *matCellDef="let cat"> <img src="{{cat.image}}" alt="{{cat.desc}}" height="42" width="42">  </td>
        </ng-container>
        <ng-container  width  matColumnDef="status">
                <th mat-header-cell  *matHeaderCellDef> status </th>
                <td mat-cell *matCellDef="let cat">             <span>
                  <button type="button" [routerLink] = "['/edit-categories', cat.id]" class="btn btn-success">Edit</button>
                  <button type="button" (click)="onDelete(cat.id)" class="btn btn-danger">Delete</button>
                        </span> </td>
              </ng-container>

        <tr mat-header-row    *matHeaderRowDef="displycolumen"></tr>
        <tr mat-row *matRowDef="let row; columns: displycolumen;"></tr>
      </table>

    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->




